<div class="embed-container mb-16">
  {% if include.title %}
    <div class="font-2xl">{{ include.title }}</div>
  {% endif %}
  {% if include.subtitle %}
    <div class="font-lg mb-2">{{ include.subtitle }}</div>
  {% endif %}
  <iframe
      src="https://www.youtube.com/embed/{{ include.id }}"
      width="560"
      height="315"
      frameborder="0"
      allowfullscreen
      title="YouTube video player"
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      >
  </iframe>
</div>